@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  font-family: microsoft jhenghei;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 450;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.loading i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #0ba29c;
}

.geoBtn {
  background: url(../img/btn_locate.svg);
  width: 40px;
  height: 40px;
  position: absolute;
  right: 6.5px;
  bottom: 90px;
  z-index: 1001;
  border: 0;
  background-position: center;
  padding: 0;
  background-size: cover;
  cursor: pointer;
}

.geoBtn:focus {
  outline: none;
}

@media (max-width: 479.98px) {
  .geoBtn {
    bottom: 110px;
  }
}

.leaflet-touch .leaflet-bar a {
  background-color: #08a29c;
  color: #fff;
}

.leaflet-touch .leaflet-bar a.leaflet-disabled {
  background-color: #00000080;
}

.leaflet-popup-content-wrapper {
  position: relative;
  padding: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  min-width: 80px;
  min-height: 60px;
  margin: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content > b {
  width: 100%;
  display: block;
  text-align: center;
  line-height: 60px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .info-card {
  list-style: none;
  border-radius: 12px;
  position: relative;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .info-card .info-top {
  color: #00000080;
  padding: 15px 19px 11px;
  font-weight: bold;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .info-card .info-top .info-title {
  color: #0BA29C;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: 3.8px;
  margin-bottom: 14px;
  width: calc(100% - 50px);
  display: block;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .info-card .info-top .info-content .tel {
  font-size: 15px;
  line-height: 26px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .info-card .info-top .info-content .address {
  font-size: 14px;
  line-height: 25px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .info-card .info-top .call {
  position: absolute;
  top: 22px;
  right: 9px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .info-card .info-inventory {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  overflow: hidden;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  color: #fff;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .info-card .info-inventory > div {
  width: 50%;
  float: left;
  height: 50px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .info-card .info-inventory .info-left {
  background-color: #0ba29c;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .info-card .info-inventory .info-right {
  background-color: #fbb03b;
}

#map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.leaflet-control-container .leaflet-top.leaflet-left {
  right: 0;
  left: auto;
  top: auto;
  bottom: 0;
}

.leaflet-control-container .leaflet-top.leaflet-left .leaflet-control-zoom.leaflet-bar.leaflet-control {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 25px;
  margin-right: 10px;
}

@media (max-width: 479.98px) {
  .leaflet-control-container .leaflet-top.leaflet-left .leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-bottom: 45px;
  }
}

#header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.95);
}

@media (max-width: 479.98px) {
  #header {
    height: 80px;
  }
}

#header .pull-right {
  float: right;
  color: #0BA29C;
  margin-top: 15px;
  margin-right: 30px;
}

@media (max-width: 991.98px) {
  #header .pull-right {
    margin-right: 15px;
  }
}

@media (max-width: 479.98px) {
  #header .pull-right {
    margin-right: 10px;
    margin-top: 7.5px;
  }
}

#header .pull-right .left-side {
  float: left;
}

#header .pull-right .left-side .date {
  margin-top: 8px;
  font-size: 28px;
  line-height: 30px;
  font-family: microsoft jhenghei;
  font-weight: 300;
}

@media (max-width: 991.98px) {
  #header .pull-right .left-side .date {
    font-size: 20px;
    margin-top: 6px;
  }
}

@media (max-width: 479.98px) {
  #header .pull-right .left-side .date {
    font-size: 16px;
    line-height: 20px;
    margin-top: 14px;
  }
}

#header .pull-right .left-side .day {
  margin-top: 3px;
  font-size: 22px;
  line-height: 30px;
}

@media (max-width: 991.98px) {
  #header .pull-right .left-side .day {
    font-size: 16px;
    margin-top: 0;
  }
}

@media (max-width: 479.98px) {
  #header .pull-right .left-side .day {
    font-size: 13px;
    line-height: 20px;
  }
}

#header .pull-right .right-side {
  float: right;
}

#header .pull-right .right-side .time {
  margin-left: 15px;
  font-size: 72px;
  line-height: 65px;
  font-weight: 300;
  font-family: microsoft jhenghei;
}

@media (max-width: 991.98px) {
  #header .pull-right .right-side .time {
    font-size: 58px;
    margin-left: 10px;
  }
}

@media (max-width: 479.98px) {
  #header .pull-right .right-side .time {
    font-size: 40px;
    margin-left: 2px;
  }
}

#header.active .inventory {
  margin-left: 30px;
}

@media (max-width: 767.98px) {
  #header.active .inventory {
    margin-left: 15px;
  }
}

#header .inventory {
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-left: 420px;
  display: inline-block;
  margin-top: 8px;
}

@media (max-width: 1199.98px) {
  #header .inventory {
    margin-left: 360px;
  }
}

@media (max-width: 991.98px) {
  #header .inventory {
    width: 220px;
    margin-top: 17.5px;
    margin-left: 315px;
  }
}

@media (max-width: 767.98px) {
  #header .inventory {
    margin-left: 15px;
  }
}

@media (max-width: 479.98px) {
  #header .inventory {
    width: 150px;
    margin-left: 10px;
  }
}

#header .inventory img {
  width: 100%;
}

#header .inventory-btns {
  display: inline-block;
  margin-top: 22px;
  vertical-align: top;
  margin-left: 100px;
}

#header .inventory-btns .btn {
  padding: 12px 26px;
  font-size: 23px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 20px;
  border: 2px solid #ddd;
  background-color: #fff;
  font-weight: bold;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: relative;
}

#header .inventory-btns .btn.full {
  border-color: #0BA29C;
  color: #0BA29C;
}

#header .inventory-btns .btn.full:hover {
  background-color: #0BA29C;
  color: #fff;
}

#header .inventory-btns .btn.full:hover::after {
  display: block;
}

#header .inventory-btns .btn.full::after {
  display: none;
  color: #0BA29C;
  content: "成人和兒童口罩皆上百份";
  font-size: 12px;
  line-height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 6px;
  padding: 0 10px;
}

#header .inventory-btns .btn.normal {
  border-color: #FBB03B;
  color: #FBB03B;
}

#header .inventory-btns .btn.normal:hover {
  background-color: #FBB03B;
  color: #fff;
}

#header .inventory-btns .btn.normal:hover::after {
  display: block;
}

#header .inventory-btns .btn.normal::after {
  display: none;
  color: #FBB03B;
  content: "成人和兒童口罩皆有";
  font-size: 12px;
  line-height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 6px;
  padding: 0 10px;
}

#header .inventory-btns .btn.few {
  border-color: #D4145A;
  color: #D4145A;
}

#header .inventory-btns .btn.few:hover {
  background-color: #D4145A;
  color: #fff;
}

#header .inventory-btns .btn.few:hover::after {
  display: block;
}

#header .inventory-btns .btn.few::after {
  display: none;
  color: #D4145A;
  content: "成人或兒童口罩有貨";
  font-size: 12px;
  line-height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 6px;
  padding: 0 10px;
}

#sidebar {
  padding: 18px 25px;
  padding-right: 20px;
  width: 380px;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: white;
  z-index: 1001;
  -webkit-box-shadow: 5px 0 5px #ddd;
          box-shadow: 5px 0 5px #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media (max-width: 1199.98px) {
  #sidebar {
    width: 320px;
  }
}

@media (max-width: 991.98px) {
  #sidebar {
    width: 300px;
    padding: 15px;
  }
}

@media (max-width: 767.98px) {
  #sidebar {
    left: -300px;
    -webkit-box-shadow: 1px 0 1px #ddd;
            box-shadow: 1px 0 1px #ddd;
  }
}

#sidebar #toggler {
  position: absolute;
  top: 150px;
  right: -25px;
  padding: 15px 10px 15px 15px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #ddd;
          box-shadow: 5px 5px 5px #ddd;
  min-height: 18.4px;
  cursor: pointer;
}

@media (max-width: 479.98px) {
  #sidebar #toggler {
    right: -18px;
    padding: 10px 5px 10px 10px;
  }
}

#sidebar #toggler i:last-of-type {
  display: none;
}

@media (max-width: 767.98px) {
  #sidebar #toggler i:last-of-type {
    display: block;
  }
}

@media (max-width: 767.98px) {
  #sidebar #toggler {
    -webkit-box-shadow: 1px 0 1px #ddd;
            box-shadow: 1px 0 1px #ddd;
  }
  #sidebar #toggler i:first-of-type {
    display: none;
  }
}

#sidebar.active {
  left: -380px;
}

@media (max-width: 1199.98px) {
  #sidebar.active {
    left: -320px;
  }
}

@media (max-width: 991.98px) {
  #sidebar.active {
    left: -300px;
  }
}

@media (max-width: 767.98px) {
  #sidebar.active {
    left: 0;
  }
}

#sidebar.active #toggler i:first-of-type {
  display: none;
}

@media (max-width: 767.98px) {
  #sidebar.active #toggler i:first-of-type {
    display: block;
  }
}

#sidebar.active #toggler i:last-of-type {
  display: block;
}

@media (max-width: 767.98px) {
  #sidebar.active #toggler i:last-of-type {
    display: none;
  }
}

#sidebar .sidebar-header {
  margin-bottom: 20px;
}

#sidebar .sidebar-header .selection {
  overflow: hidden;
}

#sidebar .sidebar-header .selection > div {
  float: left;
  width: 50%;
  text-align: center;
}

#sidebar .sidebar-header .selection > div select {
  border: 0;
  border-bottom: 1px solid #777;
  width: 90%;
  background-color: transparent;
}

#sidebar .sidebar-header .pic {
  display: inline-block;
}

@media (max-width: 1199.98px) {
  #sidebar .sidebar-header .pic {
    width: 100px;
  }
}

#sidebar .sidebar-header .pic img {
  width: 100%;
}

#sidebar .sidebar-header .content {
  color: #00000080;
  font-size: 17px;
  line-height: 27px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  margin-left: 5px;
}

@media (max-width: 1199.98px) {
  #sidebar .sidebar-header .content {
    width: calc(100% - 110px);
  }
}

#sidebar .sidebar-header .content .title {
  color: #0BA29C;
  font-size: 24px;
  line-height: 31px;
  margin-top: 12px;
  margin-bottom: 5px;
}

@media (max-width: 1199.98px) {
  #sidebar .sidebar-header .content .title {
    margin-top: 0;
    line-height: 26px;
  }
}

#sidebar .sidebar-header .content .special {
  color: #FBB03B;
  display: none;
}

#sidebar .sidebar-header .content p {
  margin: 0;
}

@media (max-width: 1199.98px) {
  #sidebar .sidebar-header .content p {
    font-size: 15px;
  }
}

@media (max-width: 991.98px) {
  #sidebar .sidebar-header .content p {
    font-size: 14px;
  }
}

#sidebar .sidebar-header .content p .otherday, #sidebar .sidebar-header .content p .sunday {
  display: none;
}

#sidebar .sidebar-main#scrollbar {
  height: calc(100% - 220px);
  overflow-y: scroll;
  width: 350px;
}

@media (max-width: 1199.98px) {
  #sidebar .sidebar-main#scrollbar {
    width: 290px;
  }
}

@media (max-width: 991.98px) {
  #sidebar .sidebar-main#scrollbar {
    width: 280px;
  }
}

#sidebar .sidebar-main#scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#sidebar .sidebar-main#scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

#sidebar .sidebar-main#scrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

#sidebar .sidebar-main#scrollbar .force-overflow {
  padding-right: 15px;
  padding-left: 0;
  margin-top: 0;
}

@media (max-width: 991.98px) {
  #sidebar .sidebar-main#scrollbar .force-overflow {
    padding-right: 10px;
  }
}

#sidebar .sidebar-main#scrollbar .force-overflow .info-card {
  list-style: none;
  margin-bottom: 17px;
  -webkit-box-shadow: 0px 3px 6px #0000004B;
          box-shadow: 0px 3px 6px #0000004B;
  border-radius: 14px;
  position: relative;
}

#sidebar .sidebar-main#scrollbar .force-overflow .info-card .info-top {
  color: #00000080;
  padding: 15px 19px 11px;
  font-weight: bold;
}

#sidebar .sidebar-main#scrollbar .force-overflow .info-card .info-top .info-title {
  color: #0BA29C;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: 3.8px;
  margin-bottom: 14px;
  width: calc(100% - 50px);
  display: block;
}

#sidebar .sidebar-main#scrollbar .force-overflow .info-card .info-top .info-content .tel {
  font-size: 15px;
  line-height: 26px;
}

#sidebar .sidebar-main#scrollbar .force-overflow .info-card .info-top .info-content .address {
  font-size: 14px;
  line-height: 25px;
}

#sidebar .sidebar-main#scrollbar .force-overflow .info-card .info-top .call {
  position: absolute;
  top: 15px;
  right: 9px;
}

#sidebar .sidebar-main#scrollbar .force-overflow .info-card .info-inventory {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  overflow: hidden;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  text-align: center;
  color: #fff;
}

#sidebar .sidebar-main#scrollbar .force-overflow .info-card .info-inventory > div {
  width: 50%;
  float: left;
  height: 50px;
}

#sidebar .sidebar-main#scrollbar .force-overflow .info-card .info-inventory .info-left {
  background-color: #0ba29c;
}

#sidebar .sidebar-main#scrollbar .force-overflow .info-card .info-inventory .info-right {
  background-color: #fbb03b;
}

#sidebar .sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #0ba29c;
  text-align: center;
}

#sidebar .sidebar-footer p {
  margin: 0;
  line-height: 60px;
  color: #fff;
  font-size: 17px;
}

@media (max-width: 991.98px) {
  #sidebar .sidebar-footer p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */